/************************Scrollbar**********************************/

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}

/**************************Universal********************************/

:root {
    --bg-color: rgb(0, 0, 0);
    --second-bg-color: rgb(35, 35, 35);
    --text-color: white;
    --main-color: #007ea7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}

html{
    font-size: 50%;
    overflow-x: hidden;
}

body{
    background-image: url(Photos/bg.png);
    background-size: 100vw 100vh;
    color: var(--text-color);
}

.heading{
    color: white;
    text-align: center;
    font-size: 8rem;
    letter-spacing: .5rem;
    padding-bottom: 5rem;
}

span{
    color: var(--main-color);
}

h3{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

section{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 20rem;
    min-height: 100vh;
 }

body section:nth-child(odd){
    background-color: rgba(0, 0, 0, .25);
    box-shadow: 3px 3px 10px var(--bg-color), -3px -3px 10px var(--main-color);
 }

 p,li{
    font-size: 2.5rem;
    line-height: 1.8;
    max-width: 1000px;
 }

 .glass{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: rgba(0, 0, 0, .25);
    padding: 55px;
    border-radius: 3rem;
    box-shadow: 4px 4px 10px var(--bg-color), -3px -3px 10px var(--main-color);
    transition: .7s;
    max-width: 75vw;
    max-height: auto;
    min-width: 75vw;
}

/***********************Header***********************************/

.header{
    position: fixed; top: 0; left: 0;
    width: 100%;
    padding: 2rem 5rem 2rem;
    background: rgba(0, 0, 0, .75);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo{
    font-size: 5rem;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.06);
}

.navbar a{
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s ease-in-out;
}

.navbar a:hover{
    color: var(--main-color);
}

.navbar a:active{
    text-decoration: underline solid var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

/*************************Home*********************************/

.home{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
}

.home-content h2{
    color: var(--text-color);
    text-align: left;
    font-size: 8rem;
    padding-bottom: 5rem;
}

.home-content h1{
    font-size: 7rem;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-image img{
    width: 40vw;
    max-width: 40vh;
}

/*************************About Me*********************************/

.aboutMe{
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMe-content{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .25);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    max-width: 75vw;
}

/*************************Education*********************************/

.education{
    display: flex;
    align-items: center;
    justify-content: center;
}

.education .glass{
    display: block;
}

.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}

.timeline-item{
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date{
    font-size: 25px;
    color: white;
    margin: 6px 0 15px;
}

.timeline-content{
    background-color: rgba(0, 0, 0, .25);
    border: 3px solid var(--main-color);
    padding: 25px ;
    border-radius: 4rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

.timeline-content h3{
    font-size: 25px;
    color: var(--main-color);
    text-align: left;
}

.timeline-content p{
    text-align: left;
}

/**************************Skills********************************/


.skills{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-content{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .25);
    border: 3px solid var(--main-color);
    padding: 50px;
    border-radius: 4rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 75vw;
}

.skills-content ul{
    padding-left: 50px;
}


/************************Contact********************************/

.contact{
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact-content{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .25);
    border: 3px solid var(--main-color);
    padding: 50px;
    border-radius: 4rem;
    transition: 0.3s ease-in-out;
    max-width: 75vw;
}

.contact-content a{
    color: white;
}

/**************************Footer********************************/

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.footer .copyright{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 16px;
    color: white;
}

/************************Size Versions********************************/

@media(max-width: 2500px){
    html{
        font-size: 55%
    }
}

@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
    .Skills{
        padding-bottom: 7rem;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media(max-width:895px){

    .header{
        padding: 2rem 2rem 2rem;

    }

    .logo{
        font-size: 4rem;
    }

    .glass{
        display: block;
    }

    .home-image{
        text-align: center;
        padding-top: 3rem;
    }

    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }

    .home{
        margin: 5rem 4rem;
    }

    .home-content h2{
        font-size: 5rem;
    }

    .heading{
        color: white;
        text-align: center;
        font-size: 4rem;
        letter-spacing: .25rem;
        padding-bottom: 2.5rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }

    .timeline-date{
        padding-top: 1rem;
    }

    .Skills h2{
        margin-bottom: 3rem;
    }

    p,li{
        font-size: 1.5rem;
    }

    .timeline-date, .timeline-content h3{
        font-size: 2.25rem;
    }

    .contact-content h2{
        font-size: 3rem;
        text-align: center;
    }

    .footer{
        padding: 1rem;
    }
    
    .footer .copyright{
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
        font-size: 14px;
        color: white;
    }

}