/* --------------------Reset some default styles-------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------------Variables--------------------------------*/
:root{
    --ff: "Inter", sans-serif;

    --h1: bold 1.125rem/1.4em var(--ff);
    --h2: bold 3rem/1.4em var(--ff);
    --p: 1.25rem/1.4em var(--ff);
    --p2: .875rem/1.4em var(--ff);

    --bg: oklch(0.2 0 264);
    --bg-dark: oklch(0.1 0 264);
    --bg-light: oklch(0.3 0 264);

    --shadow-l: inset 0 .1rem .1rem #ffffff70,
    0 .4rem .6rem #00000030,
    0 .6rem 1rem #00000015;

    --shadow-2: 0 .4rem .4rem var(--bg-dark), 0 1.2rem 1.2rem #00000000;

    --font-color: hsl(0, 0%, 95%);
    --subheading-color: hsl(0, 0%, 80%);

    --border: rgb(77, 77, 77);
    --gradient: linear-gradient(to bottom, rgba(9, 32, 60, 0.8) 0%, rgba(0, 0, 128, 0) 60%);

    --bg-gradient: linear-gradient(
    to right,
    hsl(206, 97%, 12%),
    oklch(0.1 0 264),
    oklch(0.1 0 264),
    hsl(206, 97%, 12%)
  );

  --border-gradient: linear-gradient(
    to right,
    hsl(206, 97%, 12%),
    oklch(0.1 0 264),
    oklch(0.1 0 264),
    hsl(206, 97%, 12%)
  );
}

/*------------------Global Styles------------------------------------*/


html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body{
    background-color: var(--bg-dark);
    color: var(--font-color);
    font: var(--p);
    background-image: var(--bg-gradient);
}

a{
    text-decoration: none;
    color: var(--white);
}

.content{
    width: 75%;
}

/*-----------------------Utility Classes-----------------------------*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 80vw;
    padding: 5rem;
    box-shadow: var(--shadow-2);
    backdrop-filter: blur(10px);
    border-radius: 4rem;
    position: relative;
    z-index: 1;
}

.container::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: .14rem;              /* border thickness */
    background: linear-gradient(
        to bottom left,
        rgba(77, 77, 77, .5) 20%,
        rgba(255, 255, 255, .6) 50%, 
        rgba(77, 77, 77, .5) 80%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
          mask-composite: exclude;
    pointer-events: none;
}

.section-title{
    font: var(--h2);
    margin-bottom: 3rem;
    text-align: center;
    width: 100%;
    padding: 1.5rem;
    border-radius: 4rem;
    border: 1px solid var(--border);
    box-shadow: var(--shadow-2);
    backdrop-filter: blur(10px);
}

.section-title::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: .14rem;              /* border thickness */
    background: linear-gradient(
        5deg,
        rgba(77, 77, 77, .5) 20%,
        rgba(255, 255, 255, .6) 50%, 
        rgba(77, 77, 77, .5) 80%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
          mask-composite: exclude;
    pointer-events: none;
}

section div img{
    max-width: 500px;
}

.down_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.down_arrow svg {
    margin-top: 5rem;
    width: 100px;
    height: 50px;
    stroke: var(--font-color);
    padding: .5rem;
    transition: stroke 0.3s;
    border: 1px solid var(--border);
    border-radius: 4rem;
    box-shadow:  var(--shadow-l), var(--shadow-2);
}

.down_arrow:hover svg {
  stroke: #ccc;
}

.container .content h3{
    padding-bottom: .25rem;;
    border-bottom: .2rem solid var(--border);
}

.subcontent{
    color : var(--subheading-color);
    margin-top: .6rem;
}

/*-----------------------Header Styles------------------------------*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 90vw;
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    border-radius: 4rem;
    margin-top: 1rem;
    height: 8rem;
    z-index: 1000;
    overflow: visible;
    box-shadow:  var(--shadow-l);
    backdrop-filter: blur(10px);
}

header::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: .14rem;              /* border thickness */
    background: linear-gradient(
        5deg,
        rgba(77, 77, 77, .5) 20%,
        rgba(255, 255, 255, .6) 50%, 
        rgba(77, 77, 77, .5) 80%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
          mask-composite: exclude;
    pointer-events: none;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right : 1.5rem;
    border-radius: 4rem;
    border: 1px solid var(--border);
    box-shadow:  var(--shadow-l), var(--shadow-2);
    backdrop-filter: blur(10px);
}

.logo::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: .14rem;              /* border thickness */
    background: linear-gradient(
        20deg,
        rgba(77, 77, 77, .5) 20%,
        rgba(255, 255, 255, .6) 50%, 
        rgba(77, 77, 77, .5) 80%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
          mask-composite: exclude;
    pointer-events: none;
}


header h1{
    font: var(--h1);
}

nav{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-right: 1.5rem;
    padding: 1.5rem;
    border-radius: 4rem;
    border: 1px solid var(--border);
    box-shadow:  var(--shadow-l), var(--shadow-2);
    backdrop-filter: blur(10px);
}

nav::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: .14rem;              /* border thickness */
    background: linear-gradient(
        5deg,
        rgba(77, 77, 77, .5) 20%,
        rgba(255, 255, 255, .6) 50%, 
        rgba(77, 77, 77, .5) 80%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
          mask-composite: exclude;
    pointer-events: none;
}

header img{
    width: 4rem;
    border-radius: 50%;
    border: 1px solid var(--border);
}

.hamburger{
    display: none;
    font-size: 2rem;
    margin-right: 2rem;
    cursor: pointer;
    z-index: 1001;
    padding: 0.5rem;
}

.popup-menu {
    display: none;
}

/*--------------------Body Styles-------------------------------*/
body img
{
    max-width: 50%;
    height: auto;
}

/*--------------------Hero Styles---------------------------*/


.hero img{
    border-radius: 50%;
    margin-bottom: 3rem;;
    border: .14rem solid transparent;
    background: linear-gradient(
        45deg,
        rgba(77, 77, 77, .5) 20%,
        rgba(255, 255, 255, .6) 50%, 
        rgba(77, 77, 77, .5) 80%);
    box-shadow:  var(--shadow-l), var(--shadow-2);
}

.hero-content h3{
    font: var(--h1);
    word-spacing: 1.5rem;
    color: var(--subheading-color);
    font-size: 1.25rem;
}

/*--------------------About Me Styles---------------------------*/

.me{
    margin-bottom: 3rem;
}

/*--------------------Footer Styles---------------------------*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 2rem auto 1rem auto;
    border-radius: 4rem;
    border: 1px solid var(--border);
    padding: 1rem 2rem;
    color: var(--subheading-color);
    box-shadow:  var(--shadow-l), var(--shadow-2);
    backdrop-filter: blur(10px);
}

footer::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: .14rem;              /* border thickness */
    background: linear-gradient(
        2deg,
        rgba(77, 77, 77, .5) 20%,
        rgba(255, 255, 255, .6) 50%, 
        rgba(77, 77, 77, .5) 80%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
          mask-composite: exclude;
    pointer-events: none;
}


/*--------------------Media Querries---------------------------*/

@media (max-width: 1400px){
    html{
        font-size: 75%;
    }

    .container img{
    max-width: 30vw;
    }
}

@media (max-width: 750px){
    html{
        font-size: 60%;
    }
    
    html img{
        width: 200px
    }

   header img{
        width: 3rem;
   }

   header{
        height: 7rem;
   }

   .sub1{
    display: none;
   }

   .sub2{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
   }

    .menu{
        display: none;
    }

    .hamburger{
        display: flex;
        cursor: pointer;
        position: relative;
        padding: 1rem;
        z-index: 1001;
        font-size: 2.5rem;
        margin-right: 1rem;
    }

    .popup-menu {
        position: absolute;
        top: 75%;
        right: 1rem;
        background-color: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(10px);
        border: 1px solid var(--border);
        border-radius: 1rem;
        padding: 1.5rem;
        z-index: 1;
        min-width: 200px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-1rem);
        transition: all 0.3s ease;
        pointer-events: none;
    }

    .popup-menu a {
        padding: 1rem;
        border-bottom: 1px solid var(--border);
    }

    .popup-menu.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        pointer-events: all;
    }

    .popup-menu a {
        color: var(--font-color);
        padding: 0.5rem 1rem;
        text-decoration: none;
    }

    .popup-menu a:hover {
        background-color: var(--bg-light);
        border-radius: 0.5rem;
    }

    .popup-menu a:active {
        background-color: var(--bg-light);
        border-radius: 0.5rem;
    }
}


















